﻿@model DotnetEfCore2.DataContext.CompanyEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add New Company</h2>
<form asp-controller="Company" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Logo"></label>
        <input asp-for="Logo" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Telp"></label>
        <input asp-for="Telp" class="form-control" />
    </div>
    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>