﻿@model DotnetEfCore2.DataContext.CompanyEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Company</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Company Name</th>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <th>Logo</th>
        <td>@Model.Logo</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>Telp</th>
        <td>@Model.Telp</td>
    </tr>
</table>
