﻿@model DotnetEfCore2.DataContext.CategoryEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add New Category</h2>
<form asp-controller="Category" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="CategoryCode"></label>
        <input asp-for="CategoryCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>